<h1>create here</h1>
<section>
  <input type="text" name="name" ng-model="newProduct.name" placeholder="name" value="">
  <input type="text" name="image" ng-model="newProduct.image" placeholder="image" value="">
  <input type="text" name="price" ng-model="newProduct.price" placeholder="price" value="">
  <input type="text" ng-model="newProduct.description" name="description" placeholder="description" value="">
  <button type="button" ng-click="addProduct(newProduct)" name="button">Add Product</button>
</section>
