<h1>You are in the product detail page</h1>

<section>
  <h3>{{singleProduct.name}}</h3>
  <img ng-src="{{singleProduct.image}}" alt="" />
  <h4> {{singleProduct.price | currency}}</h4>
  <p>
    {{singleProduct.description | limitTo: 255}}
  </p>
  <a href="#/products/{{singleProduct._id}}/edit"><button type="button" ng-click="editProduct(singleProduct)" name="button">Edit Product</button></a>
  <button type="button" ng-click="deleteProduct(singleProduct._id)" name="button">delete product</button>

  <button type="button" ng-click="addToCart(singleProduct)">add to cart</button>

</section>
