<section >
  <input type="text" name="name" ng-model="singleProduct.name" placeholder="name" value="">
  <input type="text" name="image" ng-model="singleProduct.image" placeholder="image" value="">
  <input type="text" name="price" ng-model="singleProduct.price" placeholder="price" value="">
  <input type="text" ng-model="singleProduct.description" name="description" placeholder="description" value="">
  <button type="button" ng-click="editProduct(singleProduct)" name="button">Edit Product</button>
</section>
